.tovary {
  text-align: center;
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  font-size: 70px;
  border-radius: 30px;
  padding: 20px;
}

.promotion-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.promotion-items {
  text-align: center;
  margin-bottom: 20px;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.product-card {
  border: 1px solid #ccc;
  height: 600px;
  width: 45%;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .product-card {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .product-card {
    width: 100%;
  }
}

.product-card img {
  max-width: 80%;
  max-height: 200px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  object-fit: contain;
}

.features {
  display: none;
}

.prices {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.old-price {
  text-decoration: line-through;
  color: #777;
  margin-bottom: 5px;
  font-size: 1em;
}

.discounted-price {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  margin-bottom: 5px;
  position: relative;
  border:1px solid #b1acac;
}

.discounted-price::after {
  content: "грн";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
  color: white;
}

.coupon-price {
  background-color: #ffdddd;
  color: red;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  position: relative;
}

.coupon-price::after {
  content: "грн";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
  color: red;
}

.prices > span {
  display: block;
  width: 80%;
  text-align: center;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.prices > span:last-child {
  margin-bottom: 0;
}
